// Singularity image paths for each process
singularity_img_dir="file:///cluster/projects/nn9305k/active/hkaspersen/Projects/NEXTFLOW/images"

process {
	withName: FASTQC {
		container = "${singularity_img_dir}/fastqc:0.11.9--0"
	}
	withName: MULTIQC_PRE {
		container = "${singularity_img_dir}/multiqc:1.9--py_1"
	}
	withName: MULTIQC_POST {
                container = "${singularity_img_dir}/multiqc:1.9--py_1"
        }
	withName: TRIM {
                container = "${singularity_img_dir}/trim-galore:0.6.7--hdfd78af_0"
        }
	withName: UNICYCLER {
		container = "${singularity_img_dir}/unicycler:0.5.0--py39h2add14b_1"
	}
	withName: QUAST {
                container = "${singularity_img_dir}/quast:5.0.2--1"
        }
	withName: BWA {
                container = "${singularity_img_dir}/bwa:0.7.8--1"
        }
	withName: SAMTOOLS {
                container = "${singularity_img_dir}/samtools:1.9--h10a08f8_12"
        }
	withName: BEDTOOLS {
                container = "${singularity_img_dir}/bedtools:2.30.0--h468198e_3"
        }
}

// Singularity options
profiles {
	singularity {
        	singularity.enabled	= true
		singularity.autoMounts  = true
	}
}

// SLURM options
process {
	executor = 'slurm'
	clusterOptions = '--job-name=ASSEMBLAGE --account=nn9305k --mem-per-cpu=4700M'
	queueSize = 24
	maxRetries = 2
	errorStrategy='retry'
	time = {8.h * task.attempt}
	cpus = 4

	withLabel: bigmem {
		cpus = 8
		clusterOptions = '--job-name=ASSEMBLAGE --account=nn9305k --partition=bigmem --mem=50G'
	}
}

params.module_dir	= "../modules"
params.workflow_dir	= "./workflows"
