// Singularity image paths for each process
singularity_img_dir="file:///cluster/projects/nn9305k/active/hkaspersen/Projects/NEXTFLOW/images"

process {
	withName: FASTQC {
		container = "${singularity_img_dir}/fastqc:0.11.9--0"
	}
	withName: MULTIQC_PRE {
		container = "${singularity_img_dir}/multiqc:1.9--py_1"
	}
	withName: MULTIQC_POST {
                container = "${singularity_img_dir}/multiqc:1.9--py_1"
        }
	withName: TRIM {
                container = "${singularity_img_dir}/trim-galore:0.6.7--hdfd78af_0"
        }
	withName: UNICYCLER {
		container = "${singularity_img_dir}/unicycler:0.5.0--py39h2add14b_1"
	}
	withName: QUAST {
                container = "${singularity_img_dir}/quast:5.0.2--1"
        }
}

// Singularity options
profiles {
	singularity {
        	singularity.enabled	= true
		singularity.autoMounts  = true
	}
}

// SLURM options
process {
	executor = 'slurm'
	clusterOptions = '--job-name=ASSEMBLAGE --account=nn9305k --mem-per-cpu=4700M'
	queueSize = 24
	maxRetries = 2
	errorStrategy='retry'
	time = {8.h * task.attempt}
	cpus = 4

	withLabel: medium {
		cpus = 8
	}

	withLabel: heavy {
		cpus = 20
	}

	withLabel: bigmem {
		cpus = 8
		clusterOptions = '--job-name=ALPPACA --account=nn9305k --partition=bigmem --mem-per-cpu=32000M'
	}

	withLabel: shorttime {
		time = { 1.h * task.attempt }
		cpus = 1
	}

	withLabel: longtime {
		time = { 48.h * task.attempt }
		cpus = 8
	}
}

params.module_dir	= "../modules"
params.workflow_dir	= "./workflows"
