/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Assemblage Nextflow config file
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

// Global default params, used in configs
params {

	// Input
	input			          = null
    out_dir                   = null
	
	// QC and trimming options
	phred_score		          = "15"
	error_rate		          = "0.1"
	minlength		          = "20"
    skip_kraken               = null
    skip_checkm2              = null
	kraken_db		          = null
	output_trimmed_reads	  = null
	output_kraken_reports     = null
    checkm2_db                = null

	// Filtering options
	keep_percent		      = "90"
	min_read_length		      = "1000"

	// Subsampling options
	genome_size		          = null
	coverage		          = "100"
    long_coverage             = "20"
	output_subsampled_reads   = null
	min_read_depth		      = "25"

	// Assembly options
	unicycler_mode		      = "normal"
	min_contig_len		      = "500"
	depth_filter		      = "0.25"
    spades_cov_cutoff		  = "auto"
	unicycler_args		      = ""
    spades_args		          = ""
    canu_args		          = ""
    spades                    = false
    output_intermediate_asm   = false

    // Autocycler options
    autocycler_kmer           = "51"
    autocycler_n_contigs      = "25"
    autocycler_cutoff         = "0.2"
    autocycler_min_assemblies = "10"
    autocycler_identity       = "0.75"
    autocycler_max_unitigs    = "5000"
    autocycler_mad            = "5.0"

	// Mapping options
	output_bam		          = null

	// Plasmid characterization
	ellipsis		          = null
	databases		          = null
	species			          = null
	mincov			          = 0.6
	identity_threshold	      = 0.8
	output_mge_reports	      = null
    afp_identity_threshold    = "-1"
    afp_database              = false

	// Pipeline options
	publish_dir_mode	      = "copy"
	time_multiplier		      = 1
    test    		          = false
}

// Define profiles
profiles {
    conda {
        params.enable_conda    = true
        apptainer.enabled      = false
        docker.enabled         = false
        singularity.enabled    = false
        podman.enabled         = false
        shifter.enabled        = false
        charliecloud.enabled   = false
    }
    docker {
        docker.enabled         = true
        docker.userEmulation   = true
        apptainer.enabled      = false
	    params.enable_conda    = false
        singularity.enabled    = false
        podman.enabled         = false
        shifter.enabled        = false
        charliecloud.enabled   = false
    }
    singularity {
        singularity.enabled    = true
        singularity.autoMounts = true
        apptainer.enabled      = false
	    params.enable_conda    = false
        docker.enabled         = false
        podman.enabled         = false
        shifter.enabled        = false
        charliecloud.enabled   = false
    }
    podman {
        podman.enabled         = true
        apptainer.enabled      = false
	    params.enable_conda    = false
        docker.enabled         = false
        singularity.enabled    = false
        shifter.enabled        = false
        charliecloud.enabled   = false
    }
    shifter {
        shifter.enabled        = true
        apptainer.enabled      = false
	    params.enable_conda    = false
        docker.enabled         = false
        singularity.enabled    = false
        podman.enabled         = false
        charliecloud.enabled   = false
    }
    charliecloud {
        charliecloud.enabled   = true
        apptainer.enabled      = false
	    params.enable_conda    = false
        docker.enabled         = false
        singularity.enabled    = false
        podman.enabled         = false
        shifter.enabled        = false
    }
    apptainer {
	    apptainer.enabled      = true
        apptainer.autoMounts   = true
        singularity.enabled    = false
        params.enable_conda    = false
        docker.enabled         = false
        podman.enabled         = false
        shifter.enabled        = false
        charliecloud.enabled   = false
    }
    test {
        params.input = "${projectDir}/assets/data/samplesheet.csv"
        params.genome_size = "250000"
        params.coverage = "30"
        params.long_coverage = "20"
        params.skip_kraken = true
        params.skip_checkm2 = true
        params.ellipsis = false
        params.out_dir = "${projectDir}/.ci_out"

        process.executor = 'local'
        process.errorStrategy = 'terminate'
        process.maxRetries = 0
        process.cpus = 1
        process.memory = 2.GB
        process.time = 30.min
    }
}

// Manifest
manifest {
    name            = 'NorwegianVeterinaryInstitute/Assemblage'
    author          = 'Håkon Pedersen Kaspersen'
    homePage        = 'https://github.com/NorwegianVeterinaryInstitute/Assemblage'
    description     = 'A Nextflow pipeline for prokaryotic genome assembly'
    mainScript      = 'main.nf'
    nextflowVersion = '!>=25.04.7'
    version         = '0.3.0'
}

conda { createTimeout = "120 min" }

// Load config for module-specific options
includeConfig 'conf/base.config'
includeConfig 'conf/modules.config'

// Define variables to prevent local R libraries from conflicting with the container
env {
    R_PROFILE_USER   = "/.Rprofile"
    R_ENVIRON_USER   = "/.Renviron"
}

// Function to ensure that resource requirements don't go beyond
// a maximum limit
def check_max(obj, type) {
    if (type == 'memory') {
        try {
            if (obj.compareTo(params.max_memory as nextflow.util.MemoryUnit) == 1)
                return params.max_memory as nextflow.util.MemoryUnit
            else
                return obj
        } catch (all) {
            println "   ### ERROR ###   Max memory '${params.max_memory}' is not valid! Using default value: $obj"
            return obj
        }
    } else if (type == 'time') {
        try {
            if (obj.compareTo(params.max_time as nextflow.util.Duration) == 1)
                return params.max_time as nextflow.util.Duration
            else
                return obj
        } catch (all) {
            println "   ### ERROR ###   Max time '${params.max_time}' is not valid! Using default value: $obj"
            return obj
        }
    } else if (type == 'cpus') {
        try {
            return Math.min( obj, params.max_cpus as int )
        } catch (all) {
            println "   ### ERROR ###   Max cpus '${params.max_cpus}' is not valid! Using default value: $obj"
            return obj
        }
    }
}
