/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        Config file for defining module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

process {

	withName: 'MULTIQC_PRE' {
                publishDir = [
                                path:           { "${params.out_dir}/qc/multiqc_reports" },
                                mode:           params.publish_dir_mode,
                                pattern:        "*html",
				saveAs:		{"MultiQC_pre_trimming_report.html"}
                ]
        }

	withName: 'MULTIQC_POST' {
                publishDir = [
                                path:           { "${params.out_dir}/qc/multiqc_reports" },
                                mode:           params.publish_dir_mode,
                                pattern:        "*html",
				saveAs:		{"MultiQC_post_trimming_report.html"}
                ]
        }

	if(params.output_trimmed_reads) {
		withName: 'TRIM' {
                        publishDir = [
                                path:           { "${params.out_dir}/qc/trimmed_reads" },
                                mode:           params.publish_dir_mode,
                                pattern:        "*val_{1,2}.fq.gz"
			]
		}
	}
	withName: 'TRIM' {
                publishDir = [
                                path:           { "${params.out_dir}/qc/trimming_reports" },
                                mode:           params.publish_dir_mode,
                                pattern:        "*trimming_report.txt"
                 ]
        }

	if(params.output_subsampled_reads) {
		withName: 'RASUSA' {
			publishDir = [
				path:           { "${params.out_dir}/qc/subsampled_reads" },
                                mode:           params.publish_dir_mode,
                                pattern:        "*rasusa_*fq.gz"
			]
		}
	}

	if(params.output_coverage_reports) {
		withName: 'BEDTOOLS' {
                        publishDir = [
                                path:           { "${params.out_dir}/assembly/coverage_reports/illumina" },
                                mode:           params.publish_dir_mode,
                                pattern:        "*_genomecov.txt"
                        ]
                }
		withName: 'BEDTOOLS_NP' {
			publishDir = [
                                path:           { "${params.out_dir}/assembly/coverage_reports/nanopore" },
                                mode:           params.publish_dir_mode,
                                pattern:        "*_genomecov.txt"
                        ]
		}
	}

	if(params.output_bam) {
		withName: 'BWA' {
                        publishDir = [
                                path:           { "${params.out_dir}/assembly/mapping" },
                                mode:           params.publish_dir_mode,
                                pattern:        "*.bam"
                        ]
                }
	}

	if(params.output_kraken_reports) {
		withName: 'KRAKEN' {
                        publishDir = [
                                path:           { "${params.out_dir}/qc/kraken_reports" },
                                mode:           params.publish_dir_mode,
                                pattern:        "*kr2.report"
                        ]
                }

	}

        withName: 'QUAST' {
                publishDir = [
                                path:           { "${params.out_dir}/assembly" },
                                mode:           params.publish_dir_mode,
                                pattern:        "transposed_report.tsv",
				saveAs:		{"Quast_report.tsv"}
                ]
        }

	withName: 'UNICYCLER|UNICYCLER_HYBRID' {
		ext.args = {
			[ params.unicycler_args ? "${params.unicycler_args}" : '',
			"--verbosity 2",
			"--keep 2",
			"--mode ${params.unicycler_mode}",
			"--min_fasta_length ${params.min_contig_len}",
			"--depth_filter ${params.depth_filter}"
			].join(' ').trim()
		}
		publishDir = [
			[
				path:		{ "${params.out_dir}/assembly/unicycler" },
				mode:		params.publish_dir_mode,
				pattern:	"*.fasta"
			],
			[
                                path:           { "${params.out_dir}/assembly/unicycler" },
                                mode:           params.publish_dir_mode,
                                pattern:        "*unicycler.log"
			]
		]
	}

	withName: 'POLYPOLISH' {
		publishDir = [
				path:           { "${params.out_dir}/assembly/polishing" },
                                mode:           params.publish_dir_mode,
                                pattern:        "*_polished.fasta"
		]
	}
        withName: 'REPORT_DRAFT|REPORT_HYBRID' {
                publishDir = [
                                path:           { "${params.out_dir}" },
                                mode:           params.publish_dir_mode,
                                pattern:        "*html"
                ]
        }

}

