/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        Config file for defining module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

process {
        withName: 'MULTIQC' {
                ext.args = {
                        [
                        "--title 'Assemblage Quality Report'",
                        "--filename 'Assemblage_MultiQC_Report.html'",
                        "--force",
                        "-c ${projectDir}/conf/multiqc_config.yaml",
                        ].join(' ').trim()
                }
                publishDir = [
                                path:           { "${params.out_dir}/reports" },
                                mode:           params.publish_dir_mode,
                                pattern:        "*html"
                ]
        }
        withName: 'MULTIQC_ELLIPSIS' {
                ext.args = {
                        [
                        "--title 'Ellipsis Report'",
                        "--filename 'Ellipsis_MultiQC_Report.html'",
                        "--force",
                        "-c ${projectDir}/conf/multiqc_config.yaml",
                        ].join(' ').trim()
                }
                publishDir = [
                                path:           { "${params.out_dir}/reports" },
                                mode:           params.publish_dir_mode,
                                pattern:        "*html"
                ]
        }
	withName: 'TRIM' {
                publishDir = [
			[
                                path:           { "${params.out_dir}/qc/trimming" },
                                mode:           params.publish_dir_mode,
                                pattern:        "*trimming_report.txt"
			],
			[
		                path:           { "${params.out_dir}/qc/trimming" },
                                mode:           params.publish_dir_mode,
                                pattern:        "*val_{1,2}.fq.gz",
				saveAs:		{ params.output_trimmed_reads ? it : null }
                        ]
		]
        }
	withName: 'RASUSA' {
		publishDir = [
			[
	                        path:           { "${params.out_dir}/assembly/subsampling" },
                                mode:           params.publish_dir_mode,
                                pattern:        "*rasusa.log"
			],
			[
                                path:           { "${params.out_dir}/assembly/subsampling" },
                                mode:           params.publish_dir_mode,
                                pattern:        "*rasusa_*fq.gz",
				saveAs:		{ params.output_subsampled_reads ? it : null }
			]
		]
	}
	withName: 'BWA' {
		publishDir = [
			[
                                path:           { 
                                        params.track == "long_read" 
                                            ? "${params.out_dir}/final_assemblies/mapping" 
                                            : "${params.out_dir}/assembly/mapping"
                                },
                                mode:           params.publish_dir_mode,
                                pattern:        "*.bam",
				saveAs:		{ params.output_bam ? it : null }
                        ]
		]
	}
	withName: 'KRAKEN|KRAKEN_LONG' {
		publishDir = [
			[
                                path:           { "${params.out_dir}/qc/kraken_reports" },
                                mode:           params.publish_dir_mode,
                                pattern:        "*kr2.report",
				saveAs:		{ params.output_kraken_reports ? it : null }
                        ]
		]
	}
        withName: 'QUAST' {
                publishDir = [
			[
                                path:           { 
                                        params.track == "long_read" 
                                            ? "${params.out_dir}/final_assemblies/quast" 
                                            : "${params.out_dir}/assembly/quast"
                                },
                                mode:           params.publish_dir_mode,
                                pattern:        "transposed_report.tsv",
				saveAs:		{"quast_report.tsv"}
			]
                ]
        }
        withName: 'FILTLONG' {
                publishDir = [
                                path:           { "${params.out_dir}/qc/filtered_long_reads" },
                                mode:           params.publish_dir_mode,
                                pattern:        "*filtered.fastq.gz",
				saveAs:		{ params.output_subsampled_reads ? it : null }
                ]
        }
	withName: 'UNICYCLER|UNICYCLER_HYBRID' {
		ext.args = {
			[ params.unicycler_args ? "${params.unicycler_args}" : '',
			"--verbosity 2",
			"--keep 2",
			"--mode ${params.unicycler_mode}",
			"--min_fasta_length ${params.min_contig_len}",
			"--depth_filter ${params.depth_filter}"
			].join(' ').trim()
		}
		publishDir = [
			[
				path:		{ "${params.out_dir}/assembly/unicycler" },
				mode:		params.publish_dir_mode,
				pattern:	"*.fasta"
			]
		]
	}
        withName: 'SPADES|SPADES_HYBRID' {
                ext.args = {
                        [
                        "--isolate",
                        "--cov-cutoff ${params.spades_cov_cutoff}",
                        params.spades_args ? "${params.spades_args}" : ''
                        ].join(' ').trim()
                }
                publishDir = [
			[
				path:		{ "${params.out_dir}/assembly/spades" },
				mode:		params.publish_dir_mode,
				pattern:	"*.fasta"
			]
		]
        }
        withName: 'AUTOCYCLER_TABLE' {
		publishDir = [
                                path:           { "${params.out_dir}/autocycler/metrics" },
                                mode:           params.publish_dir_mode,
                                pattern:        "*_metrics.tsv"
                ]
	}
        withName: 'AUTOCYCLER_COMPRESS' {
		publishDir = [
                                path:           { "${params.out_dir}/autocycler" },
                                mode:           params.publish_dir_mode,
                                pattern:        "input_assemblies.gfa"
                ]
	}
        withName: 'AUTOCYCLER_CLUSTER' {
		publishDir = [
                                path:           { "${params.out_dir}/autocycler/clustering" },
                                mode:           params.publish_dir_mode,
                                pattern:        "*_clustering.newick"
                ]
	}
        withName: 'AUTOCYCLER_COMBINE' {
		publishDir = [
                                path:           { "${params.out_dir}/autocycler/gfa" },
                                mode:           params.publish_dir_mode,
                                pattern:        "*_consensus_assembly.gfa"
                ]
	}
        withName: 'CANU' {
                ext.args = {
                        if (params.canu_args) {
                                return "${params.canu_args}"
                        }
                        if (params.test) {
                                return "-fast corOutCoverage=6 corMinCoverage=0 batOptions='-dg 3 -db 3 -dr 1 -ca 500 -cp 50'"
                        }
                        return ''
                }
                publishDir = [
                                path:           { "${params.out_dir}/assembly/intermediate_assemblies" },
                                mode:           params.publish_dir_mode,
                                pattern:        "*contigs.fasta",
                                saveAs:		{ params.output_intermediate_asm ? it : null }
                ]
        }
        withName: 'FLYE' {
                publishDir = [
                                path:           { "${params.out_dir}/assembly/intermediate_assemblies" },
                                mode:           params.publish_dir_mode,
                                pattern:        "*.fasta",
                                saveAs:		{ params.output_intermediate_asm ? it : null }
                ]
        }
        withName: 'ANY2FASTA' {
                publishDir = [
                                path:           { "${params.out_dir}/assembly/intermediate_assemblies" },
                                mode:           params.publish_dir_mode,
                                pattern:        "*_miniasm.fasta",
                                saveAs:		{ params.output_intermediate_asm ? it : null }
                ]
        }
        withName: 'RAVEN' {
                publishDir = [
                                path:           { "${params.out_dir}/assembly/intermediate_assemblies" },
                                mode:           params.publish_dir_mode,
                                pattern:        "*.fasta",
                                saveAs:		{ params.output_intermediate_asm ? it : null }
                ]
        }
	withName: 'POLYPOLISH' {
		publishDir = [
			[
				path:           { 
                                        params.track == "long_read" 
                                            ? "${params.out_dir}/final_assemblies" 
                                            : "${params.out_dir}/assembly/polishing"
                                },
                                mode:           params.publish_dir_mode,
                                pattern:        "*_polished.fasta"
			]
		]
	}
	withName: 'MOB_RECON' {
                publishDir = [
			[
                                path:           { "${params.out_dir}/ellipsis/mge_reports" },
                                mode:           params.publish_dir_mode,
                                pattern:        "*mge_report.txt",
				saveAs:		{ params.output_mge_reports ? it : null }
			],
			[
                                path:           { "${params.out_dir}/ellipsis/plasmids" },
                                mode:           params.publish_dir_mode,
                                pattern:        "*.plasmid*.fasta"
			],
			[
                                path:           { "${params.out_dir}/ellipsis/chromosomes" },
                                mode:           params.publish_dir_mode,
                                pattern:        "*.chromosome.fasta"
			]
		]
        }
        withName: 'BAKTA' {
                publishDir = [
			[
                                path:           { "${params.out_dir}/ellipsis/annotation" },
                                mode:           params.publish_dir_mode,
                                pattern:        "*gff3"
			]
                ]
        }
        withName: 'AMRFINDERPLUS' {
                ext.args = {
                        def args = [
                        "--ident_min ${params.afp_identity_threshold}",
                        "--coverage_min ${params.mincov}",
                        "--plus"
                        ]
                        if (params.afp_species) {
                                args << "--organism ${params.afp_species}"
                        }
                        if (params.afp_database) {
                                args << "--database ${params.afp_database}"
                        }
                        args.join(' ').trim()
                }
        }
        withName: 'RESFINDER' {
                ext.args = {
                        def args = [
                        "-l ${params.mincov}",
                        "-t ${params.identity_threshold}",
                        "--ignore_missing_species"
                        ]
                        if (params.resfinder_species) {
                                args << "-s ${params.resfinder_species}"
                        }
                        args.join(' ').trim()
                }
        }
        withName: 'REPORT_ELLIPSIS' {
                publishDir = [
                        [
                                path:           { "${params.out_dir}/reports" },
                                mode:           params.publish_dir_mode,
                                pattern:        "ellipsis_summary_report.tsv"
                        ],
                        [
                                path:           { "${params.out_dir}/ellipsis/reports" },
                                mode:           params.publish_dir_mode,
                                pattern:        "resfinder_report.tsv"
                        ],
                        [
                                path:           { "${params.out_dir}/ellipsis/reports" },
                                mode:           params.publish_dir_mode,
                                pattern:        "virulencefinder_report.tsv"
                        ],
                        [
                                path:           { "${params.out_dir}/ellipsis/reports" },
                                mode:           params.publish_dir_mode,
                                pattern:        "plasmidfinder_report.tsv"
                        ],
                        [
                                path:           { "${params.out_dir}/ellipsis/reports" },
                                mode:           params.publish_dir_mode,
                                pattern:        "mobsuite_report.tsv"
                        ],
                        [
                                path:           { "${params.out_dir}/ellipsis/reports" },
                                mode:           params.publish_dir_mode,
                                pattern:        "amrfinderplus_report.tsv"
                        ]
                ]
        }
}

