/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
        Config file for defining module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

process {

	withName: 'MULTIQC_PRE' {
                publishDir = [
                                path:           { "${params.out_dir}/01_QC/03_multiqc_reports" },
                                mode:           params.publish_dir_mode,
                                pattern:        "*html",
				saveAs:		{"MultiQC_pre_trimming_report.html"}
                ]
        }

	withName: 'MULTIQC_POST' {
                publishDir = [
                                path:           { "${params.out_dir}/01_QC/03_multiqc_reports" },
                                mode:           params.publish_dir_mode,
                                pattern:        "*html",
				saveAs:		{"MultiQC_post_trimming_report.html"}
                ]
        }

	withName: 'TRIM' {
                publishDir = [
                        [
                                path:           { "${params.out_dir}/01_QC/01_trimmed_reads" },
                                mode:           params.publish_dir_mode,
                                pattern:        "*val_{1,2}.fq.gz"
                        ],
                        [
                                path:           { "${params.out_dir}/01_QC/02_trimming_reports" },
                                mode:           params.publish_dir_mode,
                                pattern:        "*trimming_report.txt"
                        ]
                ]
        }


	withName: 'BEDTOOLS' {
		publishDir = [
				path:		{ "${params.out_dir}/02_ASSEMBLY/03_coverage_reports" },
				mode:           params.publish_dir_mode,
				pattern:	"*_genomecov.txt"
		]
	}

	withName: 'BWA' {
		publishDir = [
				path:           { "${params.out_dir}/02_ASSEMBLY/02_mapping" },
                                mode:           params.publish_dir_mode,
                                pattern:        "*.bam"
		]
	}

	withName: 'KRAKEN' {
		publishDir = [
			[
				path:           { "${params.out_dir}/01_QC/04_kraken_reports" },
                                mode:           params.publish_dir_mode,
                                pattern:        "*kr2.out"
			],
			[
				path:           { "${params.out_dir}/01_QC/04_kraken_reports" },
                                mode:           params.publish_dir_mode,
                                pattern:        "*kr2.report"
			]
		]
	}

        withName: 'QUAST' {
                publishDir = [
                                path:           { "${params.out_dir}/02_ASSEMBLY/04_quast_report" },
                                mode:           params.publish_dir_mode,
                                pattern:        "transposed_report.tsv",
				saveAs:		{"Quast_report.tsv"}
                ]
        }

	withName: 'UNICYCLER' {
		publishDir = [
			[
				path:		{ "${params.out_dir}/02_ASSEMBLY/01_unicycler" },
				mode:		params.publish_dir_mode,
				pattern:	"*.fasta"
			],
			[
                                path:           { "${params.out_dir}/02_ASSEMBLY/01_unicycler" },
                                mode:           params.publish_dir_mode,
                                pattern:        "*unicycler.log"
			]
		]
	}

        withName: 'UNICYCLER_HYBRID' {
                publishDir = [
                        [
                                path:           { "${params.out_dir}/02_ASSEMBLY/01_unicycler" },
                                mode:           params.publish_dir_mode,
                                pattern:        "*.fasta"
                        ],
                        [
                                path:           { "${params.out_dir}/02_ASSEMBLY/01_unicycler" },
                                mode:           params.publish_dir_mode,
                                pattern:        "*unicycler.log"
                        ]
                ]
        }

	withName: 'POLYPOLISH' {
		publishDir = [
				path:           { "${params.out_dir}/02_ASSEMBLY/05_polishing" },
                                mode:           params.publish_dir_mode,
                                pattern:        "*_filtered.fasta"
		]
	}
}
